@model ProductDelivery.EF.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some basic styling to the table */
        table {
            border-collapse: collapse;
            width: 100%;
        }

            table th, table td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            table th {
                background-color: #f2f2f2;
            }

            /* Add hover effect on table rows */
            table tr:hover {
                background-color: #f5f5f5;
            }

            /* Style the table header cells */
            table th {
                background-color: #333;
                color: #fff;
            }

            /* Add padding to the header cells */
            table th, table td {
                padding: 15px;
            }

            /* Style alternating rows with different background colors */
            table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <h2>Order List :</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Customer ID</th>
          
        </tr>
        @foreach (var O in Model.Orders)
        {
            <tr>
                <td>@O.Id</td>
                <td>@O.Status</td>
                <td>@O.Date</td>
                <td>@O.CustomerId</td>
               
            </tr>
        }
    </table>
</body>
</html>


