@model ProductDelivery.EF.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some basic styling to the table */
        table {
            border-collapse: collapse;
            width: 100%;
        }

            table th, table td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            table th {
                background-color: #f2f2f2;
            }

            /* Add hover effect on table rows */
            table tr:hover {
                background-color: #f5f5f5;
            }

            /* Style the table header cells */
            table th {
                background-color: #333;
                color: #fff;
            }

            /* Add padding to the header cells */
            table th, table td {
                padding: 15px;
            }

            /* Style alternating rows with different background colors */
            table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <h2>Order Details List :</h2>

    <table>
        <tr>
            <th>Order Details ID</th>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        @foreach (var OD in Model.OrderDetails)
        {
            <tr>
                <td>@OD.Id</td>
                <td>@OD.OrderID</td>
                <td>@OD.ProductId</td>
                <td>@OD.Price</td>
                <td>@OD.Quantity</td>
            </tr>
        }
    </table>
</body>
</html>